@import "variables";
@import "mixins";

.von-icon
{
  display: inline-block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 16px;
  text-align: center;

  @include render_theme($dark, $white);

  &.transparent {
    @include render_theme(transparent, $gray);
  }

  &.energized {
    @include render_theme($dark, $energized);
  }

  &.silver {
    @include render_theme($silver, $white);
  }

  &.lightgray {
    @include render_theme($lightgrey, $white);
  }
  &.lightgray-a {
    @include render_theme($lightgrey, $black);
  }

  &.whitesmoke {
    @include render_theme($whitesmoke, $white);
  }
  &.whitesmoke-a {
    @include render_theme($whitesmoke, $black);
  }

  .von-icon-text
  {
    width: 100%;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }

}
