@import "variables";

.von-panel {
  background: #ffffff no-repeat center;
  background-size: cover;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  .von-panel-header
  {

  }

  .von-panel-content
  {

  }

  .von-panel-footer
  {

  }


  /*宽高3:4*/
  &.render-3-4
  {
    width:100%;
    height:0;
    padding-bottom: 133%;
    overflow:hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }
  /*宽高1:1*/
  &.render-1-1
  {
    width:100%;
    height:0;
    line-height: 0;
    padding-bottom: 100%;
    overflow:hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }
  /*宽高4:3*/
  &.render-4-3
  {
    width:100%;
    height:0;
    padding-bottom: 75%;
    overflow:hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }
  //16:9
  &.render-16-9
  {
    height: 0;
    line-height: 56.25%;
    padding-bottom: 56.25%;
    width: 100%;
    overflow:hidden;
    //background: no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }
  /*宽高2:1*/
  &.render-2-1
  {
    width:100%;
    height:0;
    padding-bottom: 50%;
    overflow:hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }
  /*宽高5:2*/
  &.render-5-2
  {
    width:100%;
    height:0;
    padding-bottom: 40%;
    overflow:hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }
  /*宽高3:1*/
  &.render-3-1
  {
    width:100%;
    height:0;
    padding-bottom: 33.3%;
    overflow:hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }


}
